a{
    text-decoration: none;
    color: aqua;
}
.dropdown-content{
    display: none;
    position: absolute;
    padding: 5px 10px;
    border: 1px solid red;
    -webkit-box-shadow: -1px 5px 84px -38px black;
    
    

}

