.slider-paragraph{
    background-color:red; padding: 20px; color: blue;}
.bg-img{
    background:url("https://images-cdn.ubuy.co.in/65414af8fd4858736a695a7e-pre-owned-apple-iphone-x-256gb-factory.jpg") ;
}

